/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/resources/lang/*/*-list.php
/resources/lang/*/*-details.php
/resources/lang/*/left-sidebar.php
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
